/* {}  */
/* #  */
/* @  */
/* %  */

* {
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

section {
    padding: 100px;
}

.banner {
       position: relative;
       min-height: 100vh;
       background: url('banner.jpg');
       background-size: cover;
       background-position: right;
       display: flex;
       justify-content: space-between;
       align-items: center;

}

.banner h2 {
    font-size: 3em;
    color: white;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
   color: white;
    font-weight: 500;
}

.btn {
    position: relative;
    background:#2196f3 ;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 20px;
   
}



header.sticky ul li a {
    color: black;
 }


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
   background: white;
   padding: 20px 100px;
   box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

header .logo {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
}

header.sticky .logo  {
    color: black;
 }



header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: white;
    text-decoration: none;

}


/* this will start about me section styling  */

.heading  {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
    color: #111;
} 

.heading h2 {
    font-weight: 600;
    font-size: 30px;

} 

.content  {
   display: flex;
   justify-content: space-between;
   
   
  
} 

.contentbx  {
   padding-right: 30px;

 } 
 

.contentbx h3 {
    font-size: 24px;
    margin-bottom: 10px;
} 

.w50 {
    min-width: 50%;
} 

img {
    max-width: 100%;
} 


/* this will start services section  */


.services {
       background: #111;
    
    
} 

.heading.white {
  color: white;
 
 
} 

.services .content {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;

 
 
} 

.services .content .servicesbx {

    padding: 40px 20px;
    background:#222 ;
    color: white;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;

 }

 .services .content .servicesbx:hover {  
    background:#2196f3 ;
 }

 .services .content .servicesbx img {  
    max-width: 80px;
    filter: invert(1);
 }

 .services .content .servicesbx h2 {  
   font-size: 20px;
   font-weight: 600;
 }


 .work .content {  
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
  }

  .work .content .workbx {  
  width: 50%;
  padding: 20px;
 }

 .work .content .workbx img {  
  max-width: 100%;
      
 }

.testimonial {  
 background: #f7f7f7;
   
}

.testimonial .content {  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial .content .testimonialbx {  
 max-width: calc(50% - 40px) ;
 padding: 60px 40px;
 margin: 20px;
 background: #2196f3;
}

.testimonial .content .testimonialbx p{  
    color: white;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
   }
   

   .testimonial .content .testimonialbx h3{  
       margin-top: 40px;
       color: white;
       font-size: 20px;
       font-weight: 600;
       line-height: 1em;
    text-align: end;
   }

   .testimonial .content .testimonialbx h3 span{  
   font-size: 14px;
   font-weight: 400;
}


/* {}  */
/* #  */
/* @  */
/* %  */

.contact {  
    background: #111;
 }
   
.formbx {  
    min-width: 60%;
 }


 .formbx form {  
    display: flex;
    flex-direction: column;
 }

 
 .formbx form h3,
 .contactinfo h3
 {  
      color: white;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;


 }

 .formbx form input,
 .formbx form textarea
 {  
     margin-bottom: 20px;
     padding: 15px;
     font-size: 16px;
     background:  #222;
     resize: none;
     border: none;
     outline: none;
     color: white;


}

.formbx form textarea {
    min-height: 200px;
}

.formbx form input::placeholder,
.formbx form textarea::placeholder {
   color: #999;
}



.formbx form input[type="submit"] {
    background: #2196f3;
    max-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;

 }

 .contactinfo {
    min-width: 40%;
 }

 .contactbx  {
    position: relative;
 }

 .contactbx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
 }
 
 .contactbx .box .icons {
   min-width: 40px;
   padding-top: 4px;
   color: white;
   display: flex;
   justify-content: center;
   align-self: center;
   font-size: 24px;
   
 }

 .contactbx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
    
  }

  .contactbx .box .text h3 {
      font-weight: 500;
      color: #2196f3;
      margin-bottom: 0;
    
    
  }

  .copyright {
    color: white;
    background: #000;
    text-align: center;
    padding: 10px;
}


 
 
